<a href="https://colab.research.google.com/github/NUKALAMOHANSAIGUPTA/DATAMINING/blob/main/ADM_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:

df = pd.read_csv('/content/employee_data.csv')
print("Original Dataset:")
print(df)

Original Dataset:
    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [ ]:
df.isna()

    Employee_ID    Age  Salary  Job_Satisfaction  Work_Hours_Per_Week
0         False  False   False             False                False
1         False  False   False             False                False
2         False  False   False             False                False
3         False  False   False             False                False
4         False  False   False             False                False
5         False  False   False             False                False
6         False  False    True              True                False
7         False  False   False             False                False
8         False  False   False             False                False
9         False  False    True             False                False
10        False  False   False             False                False
11        False   True   False              True                False
12        False  False   False              True                False
13        False  False   False             False                False
14        False  False   False             False                False
15        False  False   False             False                False
16        False  False   False             False                False
17        False  False   False             False                False
18        False  False   False             False                False
19        False  False   False             False                False
20        False  False   False             False                False
21        False  False   False             False                False
22        False  False   False              True                False
23        False  False   False             False                False
24        False  False    True             False                False
25        False  False   False              True                False
26        False  False    True             False                False
27        False  False   False             False                False
28        False  False   False             False                False
29        False  False   False             False                False
30        False   True   False             False                False
31        False  False   False              True                False
32        False  False   False             False                False
33        False  False   False             False                False
34        False   True   False              True                False
35        False  False   False             False                False
36        False  False   False             False                False
37        False  False   False              True                False
38        False  False    True             False                False
39        False   True   False             False                False
40        False  False   False             False                False
41        False  False   False             False                False
42        False  False   False             False                False
43        False  False   False             False                False
44        False  False   False             False                False
45        False  False   False             False                False
46        False  False   False              True                False
47        False  False   False              True                False
48        False  False   False             False                False
49        False   True   False             False                False

In [ ]:

df.isnull().sum()

Employee_ID             0
Age                     5
Salary                  5
Job_Satisfaction       10
Work_Hours_Per_Week     0
dtype: int64

In [ ]:
df['Age'].mean()

39.17777777777778

In [ ]:
df['Salary'].mean()

72349.2

In [ ]:
df['Job_Satisfaction'].mean()

5.55

In [ ]:
df['Job_Satisfaction'].mode()

0    7.0
Name: Job_Satisfaction, dtype: float64

In [ ]:
df['Job_Satisfaction'].median()

6.0

In [ ]:
df['Age'].fillna(df['Age'].mean())

0     50.000000
1     36.000000
2     29.000000
3     42.000000
4     40.000000
5     44.000000
6     32.000000
7     32.000000
8     45.000000
9     57.000000
10    45.000000
11    39.177778
12    43.000000
13    23.000000
14    45.000000
15    51.000000
16    59.000000
17    23.000000
18    42.000000
19    54.000000
20    33.000000
21    43.000000
22    46.000000
23    48.000000
24    49.000000
25    37.000000
26    36.000000
27    24.000000
28    58.000000
29    28.000000
30    39.177778
31    30.000000
32    39.000000
33    25.000000
34    39.177778
35    35.000000
36    30.000000
37    47.000000
38    23.000000
39    39.177778
40    49.000000
41    28.000000
42    29.000000
43    56.000000
44    35.000000
45    38.000000
46    57.000000
47    25.000000
48    23.000000
49    39.177778
Name: Age, dtype: float64

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [ ]:
df['Salary'] =df['Salary'].fillna(df['Salary'].mean())

In [ ]:
df['Job_Satisfaction'] = df['Job_Satisfaction'].fillna(df['Job_Satisfaction'].mean())

In [ ]:
df

    Employee_ID        Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.000000  108953.0              9.00                   36
1          1002  36.000000   82995.0              8.00                   59
2          1003  29.000000   70757.0              2.00                   30
3          1004  42.000000   39692.0              1.00                   30
4          1005  40.000000   75758.0              7.00                   54
5          1006  44.000000  102409.0              7.00                   56
6          1007  32.000000   72349.2              5.55                   59
7          1008  32.000000   95697.0              5.00                   54
8          1009  45.000000   67065.0              3.00                   49
9          1010  57.000000   72349.2              8.00                   42
10         1011  45.000000   41534.0              6.00                   38
11         1012  39.177778   70397.0              5.55                   32
12         1013  43.000000   31016.0              5.55                   36
13         1014  23.000000  119789.0              1.00                   35
14         1015  45.000000   85591.0              3.00                   37
15         1016  51.000000  119812.0              5.00                   56
16         1017  59.000000   53247.0              3.00                   38
17         1018  23.000000   54300.0              1.00                   59
18         1019  42.000000  104065.0              5.00                   34
19         1020  54.000000  112798.0             10.00                   30
20         1021  33.000000   39268.0              7.00                   48
21         1022  43.000000  116807.0              7.00                   39
22         1023  46.000000   42185.0              5.55                   41
23         1024  48.000000   93704.0              9.00                   53
24         1025  49.000000   72349.2             10.00                   44
25         1026  37.000000   69099.0              5.55                   56
26         1027  36.000000   72349.2              3.00                   51
27         1028  24.000000   68044.0              7.00                   53
28         1029  58.000000   81214.0              1.00                   38
29         1030  28.000000   91228.0              4.00                   49
30         1031  39.177778   78984.0              4.00                   46
31         1032  30.000000   70774.0              5.55                   59
32         1033  39.000000   32568.0              7.00                   46
33         1034  25.000000   92592.0              7.00                   55
34         1035  39.177778   97563.0              5.55                   49
35         1036  35.000000   32695.0              4.00                   41
36         1037  30.000000   78190.0              7.00                   59
37         1038  47.000000   35258.0              5.55                   36
38         1039  23.000000   72349.2              3.00                   31
39         1040  39.177778   69504.0              6.00                   32
40         1041  49.000000   63159.0              2.00                   46
41         1042  28.000000   43986.0             10.00                   34
42         1043  29.000000   91858.0              9.00                   46
43         1044  56.000000   42666.0              5.00                   53
44         1045  35.000000   68660.0              6.00                   46
45         1046  38.000000   33561.0              4.00                   56
46         1047  57.000000   56854.0              5.55                   46
47         1048  25.000000   94505.0              5.55                   31
48         1049  23.000000   82251.0              7.00                   31
49         1050  39.177778   52662.0              9.00                   57

In [ ]:
print("Dataset after handling missing values:")
print(df)

Dataset after handling missing values:
    Employee_ID        Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.000000  108953.0              9.00                   36
1          1002  36.000000   82995.0              8.00                   59
2          1003  29.000000   70757.0              2.00                   30
3          1004  42.000000   39692.0              1.00                   30
4          1005  40.000000   75758.0              7.00                   54
5          1006  44.000000  102409.0              7.00                   56
6          1007  32.000000   72349.2              5.55                   59
7          1008  32.000000   95697.0              5.00                   54
8          1009  45.000000   67065.0              3.00                   49
9          1010  57.000000   72349.2              8.00                   42
10         1011  45.000000   41534.0              6.00                   38
11         1012  39.177778   70397.0              5.55                   32
12         1013  43.000000   31016.0              5.55                   36
13         1014  23.000000  119789.0              1.00                   35
14         1015  45.000000   85591.0              3.00                   37
15         1016  51.000000  119812.0              5.00                   56
16         1017  59.000000   53247.0              3.00                   38
17         1018  23.000000   54300.0              1.00                   59
18         1019  42.000000  104065.0              5.00                   34
19         1020  54.000000  112798.0             10.00                   30
20         1021  33.000000   39268.0              7.00                   48
21         1022  43.000000  116807.0              7.00                   39
22         1023  46.000000   42185.0              5.55                   41
23         1024  48.000000   93704.0              9.00                   53
24         1025  49.000000   72349.2             10.00                   44
25         1026  37.000000   69099.0              5.55                   56
26         1027  36.000000   72349.2              3.00                   51
27         1028  24.000000   68044.0              7.00                   53
28         1029  58.000000   81214.0              1.00                   38
29         1030  28.000000   91228.0              4.00                   49
30         1031  39.177778   78984.0              4.00                   46
31         1032  30.000000   70774.0              5.55                   59
32         1033  39.000000   32568.0              7.00                   46
33         1034  25.000000   92592.0              7.00                   55
34         1035  39.177778   97563.0              5.55                   49
35         1036  35.000000   32695.0              4.00                   41
36         1037  30.000000   78190.0              7.00                   59
37         1038  47.000000   35258.0              5.55                   36
38         1039  23.000000   72349.2              3.00                   31
39         1040  39.177778   69504.0              6.00                   32
40         1041  49.000000   63159.0              2.00                   46
41         1042  28.000000   43986.0             10.00                   34
42         1043  29.000000   91858.0              9.00                   46
43         1044  56.000000   42666.0              5.00                   53
44         1045  35.000000   68660.0              6.00                   46
45         1046  38.000000   33561.0              4.00                   56
46         1047  57.000000   56854.0              5.55                   46
47         1048  25.000000   94505.0              5.55                   31
48         1049  23.000000   82251.0              7.00                   31
49         1050  39.177778   52662.0              9.00                   57

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:

scaler = MinMaxScaler()

In [ ]:

df[['Work_Hours_Per_Week', 'Job_Satisfaction']] = scaler.fit_transform(df[['Work_Hours_Per_Week', 'Job_Satisfaction']])

In [ ]:
df['Age'] = (df['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())

In [ ]:
from sklearn.preprocessing import StandardScaler

s_scaler = StandardScaler()

In [ ]:
df[['Salary']] = s_scaler.fit_transform(df[[ 'Salary']])

In [ ]:

df['Salary']

0     1.490999
1     0.433640
2    -0.064856
3    -1.330241
4     0.138852
5     1.224440
6     0.000000
7     0.951037
8    -0.215244
9     0.000000
10   -1.255210
11   -0.079520
12   -1.683644
13    1.932387
14    0.539384
15    1.933324
16   -0.778099
17   -0.735206
18    1.291894
19    1.647620
20   -1.347512
21    1.810920
22   -1.228692
23    0.869855
24    0.000000
25   -0.132392
26    0.000000
27   -0.175366
28    0.361094
29    0.768999
30    0.270258
31   -0.064163
32   -1.620426
33    0.824559
34    1.027045
35   -1.615253
36    0.237916
37   -1.510853
38    0.000000
39   -0.115895
40   -0.374349
41   -1.155331
42    0.794661
43   -1.209099
44   -0.150274
45   -1.579978
46   -0.631173
47    0.902482
48    0.403335
49   -0.801928
Name: Salary, dtype: float64

In [ ]:
df['Job_Satisfaction'] = (df['Job_Satisfaction'] - df['Job_Satisfaction'].mean()) / df['Job_Satisfaction'].std()

In [ ]:
df

    Employee_ID       Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  0.750000  1.490999          1.418381             0.206897
1          1002  0.361111  0.433640          1.007256             1.000000
2          1003  0.166667 -0.064856         -1.459494             0.000000
3          1004  0.527778 -1.330241         -1.870619             0.000000
4          1005  0.472222  0.138852          0.596131             0.827586
5          1006  0.583333  1.224440          0.596131             0.896552
6          1007  0.250000  0.000000          0.000000             1.000000
7          1008  0.250000  0.951037         -0.226119             0.827586
8          1009  0.611111 -0.215244         -1.048369             0.655172
9          1010  0.944444  0.000000          1.007256             0.413793
10         1011  0.611111 -1.255210          0.185006             0.275862
11         1012  0.449383 -0.079520          0.000000             0.068966
12         1013  0.555556 -1.683644          0.000000             0.206897
13         1014  0.000000  1.932387         -1.870619             0.172414
14         1015  0.611111  0.539384         -1.048369             0.241379
15         1016  0.777778  1.933324         -0.226119             0.896552
16         1017  1.000000 -0.778099         -1.048369             0.275862
17         1018  0.000000 -0.735206         -1.870619             1.000000
18         1019  0.527778  1.291894         -0.226119             0.137931
19         1020  0.861111  1.647620          1.829506             0.000000
20         1021  0.277778 -1.347512          0.596131             0.620690
21         1022  0.555556  1.810920          0.596131             0.310345
22         1023  0.638889 -1.228692          0.000000             0.379310
23         1024  0.694444  0.869855          1.418381             0.793103
24         1025  0.722222  0.000000          1.829506             0.482759
25         1026  0.388889 -0.132392          0.000000             0.896552
26         1027  0.361111  0.000000         -1.048369             0.724138
27         1028  0.027778 -0.175366          0.596131             0.793103
28         1029  0.972222  0.361094         -1.870619             0.275862
29         1030  0.138889  0.768999         -0.637244             0.655172
30         1031  0.449383  0.270258         -0.637244             0.551724
31         1032  0.194444 -0.064163          0.000000             1.000000
32         1033  0.444444 -1.620426          0.596131             0.551724
33         1034  0.055556  0.824559          0.596131             0.862069
34         1035  0.449383  1.027045          0.000000             0.655172
35         1036  0.333333 -1.615253         -0.637244             0.379310
36         1037  0.194444  0.237916          0.596131             1.000000
37         1038  0.666667 -1.510853          0.000000             0.206897
38         1039  0.000000  0.000000         -1.048369             0.034483
39         1040  0.449383 -0.115895          0.185006             0.068966
40         1041  0.722222 -0.374349         -1.459494             0.551724
41         1042  0.138889 -1.155331          1.829506             0.137931
42         1043  0.166667  0.794661          1.418381             0.551724
43         1044  0.916667 -1.209099         -0.226119             0.793103
44         1045  0.333333 -0.150274          0.185006             0.551724
45         1046  0.416667 -1.579978         -0.637244             0.896552
46         1047  0.944444 -0.631173          0.000000             0.551724
47         1048  0.055556  0.902482          0.000000             0.034483
48         1049  0.000000  0.403335          0.596131             0.034483
49         1050  0.449383 -0.801928          1.418381             0.931034